<template>
  <div>
    <b-container class="mb-2">
      <b-row>
        <b-col>
          <b-form-input v-model="title" placeholder="Title"></b-form-input>
        </b-col>
        <b-row>
          <b-col>
            <b-form-textarea
              id="textarea"
              v-model="content"
              placeholder="Enter something..."
              rows="3"
              max-rows="6"
            ></b-form-textarea>
          </b-col>
        </b-row>
      </b-row>

      <b-row>
        <b-col>

          <label for="start-datepicker">วันเริ่มต้น</label>
          <b-form-datepicker
            id="start-datepicker"
            v-model="startDate"
            class="mb-2"
            locale="th"
          ></b-form-datepicker>

          <b-form-timepicker
            v-model="startTime"
            locale="th"
          ></b-form-timepicker>
        </b-col>

        <b-col>
          <label for="end-datepicker">วันสิ้นสุด</label>

          <label for="end-datepicker"></label>
          <b-form-datepicker
            id="end-datepicker"
            v-model="endDate"
            class="mb-2"
            locale="th"

          ></b-form-datepicker>

          <b-form-timepicker v-model="endTime" locale="th"></b-form-timepicker>
        </b-col>
      </b-row>
      <b-row>
        <b-col>
          <b-button @click="addEvent">Add</b-button>
        </b-col>
      </b-row>
    </b-container>

    <vue-cal
      :locale="th"
      active-view="day"
      :disable-views="['years', 'year', 'week']"
      :events="events"
      @ready="ready($event)"
      @view-change = "viewChange($event)"
    />
  </div>
</template>

<script>

import { getEvents } from '../services/event'
import VueCal from 'vue-cal'
import 'vue-cal/dist/vuecal.css'
import th from '../locale/th'

export default {
  data () {
    return {
      startDate: '',
      endDate: '',
      startTime: '',
      endTime: '',
      title: '',
      content: '',
      events: [
        {
          start: '2022-03-22 17:44',
          end: '2022-03-22 19:00',
          title: 'อัดวีดีโอ',
          content: 'ชักว่าว',
          class: 'vdo_time'
        }
      ]
    }
  },
  components: {
    VueCal
  },
  methods: {
    addEvent () {
      this.events.push({

        start: new Date(this.startDate + ' ' + this.startTime),
        end: new Date(this.endDate + ' ' + this.endTime),
        title: this.title,
        content: this.content,
        class: 'a'

      })

      console.log(this.events)
    },
    async ready (e) {
      console.log('ready', e)
      const res = await getEvents(e.startDate, e.endDate)
      console.log('res', res)

      const newEvents = []
      for (let i = 0; i < res.data.length; i++) {
        const event = res.data[i]
        newEvents.push({
          start: new Date(event.startDate),
          end: new Date(event.endDate),
          title: event.title,
          content: event.content,
          class: event.class
        })
      }

      this.events = newEvents
      console.log('events', this.events)
    },
    async viewChange (e) {
      const res = await getEvents(e.startDate, e.endDate)

      const newEvents = []
      for (let i = 0; i < res.data.length; i++) {
        const event = res.data[i]
        newEvents.push({
          start: new Date(event.startDate),
          end: new Date(event.endDate),
          title: event.title,
          content: event.content,
          class: event.class
        })
      }

      this.events = newEvents
      console.log('events', this.events)
    }
  },
  computed: {
    th () {
      return th
    }
  }
}
</script>

<style>

.vuecal__event.a {
  background-color: rgba(255, 102, 102, 0.9);
  border: 1px solid rgb(235, 82, 82);
  color: #fff;
}
.vuecal__event.b {background-color: rgba(253, 156, 66, 0.9);border: 1px solid rgb(233, 136, 46);color: #fff;}
.vuecal__event.c {background-color: rgba(255, 102, 102, 0.9);border: 1px solid rgb(235, 82, 82);color: #fff;}
</style>
